.ban{
    width: 75%;
    color: black;
    padding: 15px;
}

.b1{
    width: 98%;
    background-color: rgb(52, 45, 92);
    color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.flex-container{
    display: flex;
}

.imag{
    width: 27px;
    height: 27px;
    border-radius: 20px;
}

.b2{
    margin-top: 20px;
    background-color: rgba(50, 216, 228, 0.5);
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,minmax(0,1fr));
    width: 95.5%;
    padding: 25px;
    overflow-x: auto;
    height: 82%;
}

.g{
    width: 100%;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
}

.g1{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
}

.bt{
    color: black;
    background-color: white;
  }

.bt:hover{
    background-color: rgb(37, 11, 66);
    color: white;
    cursor: pointer;
}

.g2{
    font-size: 20px;
    font-weight: bold;
}