.DbBanner{
    height: 30px;
    width: 100vw;
    background-color: rgb(10, 13, 64);
    display: flex;
    justify-content: space-around;
}

.DbBannerButton{
    margin: 0;
    border: 3px solid aliceblue;
    border-radius: 20px;
    color: aliceblue;
    background-color: rgb(10, 13, 64);

}

.DbButton{
    
    color: aliceblue;
    background-color: darkblue;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(153, 29, 143);
  /* background-color:rgb(1, 3, 27); */
  color: white;
}

#DbIn{
    margin: 20px;
    padding: 10px;
    height: 20px;
    width: 300px;
}

.DbDisplay{
    margin: 10px;
    padding: 10px;
    height: 100vh;
    width: 100vw;
    border: 2px solid black;
    display: flex;
    background-color: beige;
}

.DbCards{
    text-align: center;
    height: 200px;
    width: 150px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

.DbCards:hover{
    color: antiquewhite;
    background-color: rgb(96, 18, 169);
}

.DbCardsDP{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-jbQ3OY7CK_dYtUifWhOcFb13bEPRIcy2kQ&s);
    background-size: cover;

    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 50%;
    border: 2px solid black;
}

span{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}
