.side{
    width: 25%;
    height: 100vh;
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 10px;
}

.s1{
    font-size: 40px;
    font-weight: light;
    margin: 15px;
    margin-bottom: 50px;
}

.flex-container{
    display: flex;
}

.img{
    width: 140px;
    height: 70px;
    border-radius: 20px;
    margin-right: 20px;
    border: 1px solid white;
}

.gm{
    text-align: left;
    font-weight: 600;
    font-size: 20px;
}

.ad{
    margin-top: 15px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 50px;
}

.cnt{
    margin-top: 10px;
    padding-top: 50px;
    border-top: 1px solid white;
}

.c1{
    gap: 70px;
    font-size: 22px;
    font-weight: 600;
    padding-left: 9px;
    margin-top: 30px;
    border-radius: 10px;
}

.button{
    color: white;
    background-color:rgb(35, 35, 39);
    cursor: pointer;
  }

.button:hover{
    background-image: linear-gradient(to right, rgb(158, 81, 194), pink);
    color: black;
  }